body {
    background-color: lightgray;
}


body.dark-mode {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
}


body.dark-mode nav.navbar {
    background-color: #2c2c2c !important;
}


body.dark-mode a {
    color: #90caf9 !important;
}


body.dark-mode table {
    background-color: #2d2d2d;
    color: #ffffff;
}

body.dark-mode table tr {
    border-color: #444;
}

body.dark-mode table td,
body.dark-mode table th {
    background-color: #2d2d2d !important;
    color: #fff !important;
}


body.dark-mode .btn {
    border-color: #ffffff55;
    color: white !important;
}
