#password-strength-bar {
    height: 6px;
    width: 0%;
    transition: width 0.3s ease-in-out;
    border-radius: 4px;
}

#password-strength-wrapper small {
    display: block;
    margin-top: 4px;
}
